.footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
  font-size: 14px;
}
 footer {
  text-align: center;
  background-color: #0d6efd;
  color: white;
  padding: 10px 0;
  margin-top: 20px;
}
